<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title%></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style>
        table, th, td {
        border: 1px solid #bcbcbc;
      }
      table{
          border-collapse :collapse;
      }
    </style>
    <script>
        //공간정보 삭제
        function zone_delete(id){
            var id = Number(id);
            console.log("id=",id);
            $.ajax({
                url: '/zone/delete',
                data: { 'id' : id},
                type: 'POST',
                dataType: 'json',
                success : function (res) {
                    if ( res['result'] == true ) {
                      alert("삭제되었습니다.");
                     location.reload();
                  }
                },
                error: function (xhr) {
                    alert("실패하였습니다.");
                }
            });
        }
        //공간정보 변경
        function zone_update(id, t){
            var id = Number(id);
            var zoneID = $(t).parent().parent().find('.zoneID').val();
            var name = $(t).parent().parent().find('.zoneName').val();
            console.log("id=",id);
            console.log("name=",name);
            $.ajax({
                url: '/zone/update',
                data: { 'id' : id, 'zoneID': zoneID, 'name': name},
                type: 'POST',
                dataType: 'json',
                success : function (res) {
                    if ( res['result'] == true ) {
                      alert("공간 정보가 수정되었습니다.");
                     location.reload();
                  }
                },
                error: function (xhr) {
                    alert("실패하였습니다.");
                }
            });
        }
    </script>
</head>
    <body>
    <h1>아이공간 관리 </h1>
    <table>
        <th>ID</th>
        <th>client ID</th>
        <th>client name</th>
        <th>zone ID</th>
        <th>zone name</th>
        <th></th>
        <% for(let data of results) { %>
            <tr>
                <td><%= data.id %></td>
                <td><%= data.client_id %></td>
                <td><%= data.client_name %></td>
                <td>
                    <input type="number" name="zoneID" class="zoneID" value=<%= data.zone_id %> >
                </td>
                <td>
                    <input type="text" name="zoneName" class="zoneName" value=<%= data.zone_name %> >
                </td>
                <td>
                    <button onclick='zone_update(<%= data.id %>, this);'>변경</button>
                    <button onclick='zone_delete(<%= data.id %>);'>삭제</button>
                </td>
            </tr>
        <% } %>
    </table>

    </body>
</html>